db.sqlite3
env/
__pycache__/
.vscode/
Coderr_Dokumentation_Endpoints.pdf
coderr_frontend/
archiv/
media/
coderr_auth_app/migrations
coderr_basic_infos_app/migrations
coderr_basic_infos_app/tests
coderr_order_offer_app/migrations
coderr_order_offer_app/tests
coderr_user_profile_app/migrations